:root {
  --blanco: #ffffff;
  --negro: #212121;
  --primario: #05ddd2;
  --secundario: #8005a5;
  --gris: #5c5353;
  --salmon: rgb(250, 128, 114);
  /* rgba(255,193,7,1); forma de describir los colores en RGBA*/
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  color: var(--negro);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
body {
  align-items: center;
}
.integrantesBox p {
  font-size: 2rem;
  margin: 0.5px;
  width: 50%;
  border-radius: 5px;
}
.integrantes:hover {
  background-color: var(--salmon);
  color: var(--blanco);
}
.integrantes {
  display: grid;
  grid-template-columns: 2, 2fr;
}
.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto; /* centra el contenido*/
}
img {
  max-width: 100%;
}
.nav-bg {
  background-color: var(--primario);
}
.navegacion-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navegacion-principal a {
  /* display: block; */
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}
.navegacion-principal a:hover {
  background-color: var(--salmon);
  color: var(--blanco);
  border-radius: 5px;
  /* margin: 1px; */
}
.titulo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.8rem;
  color: var(--negro);
}
.titulo span {
  font-size: 2rem;
  color: var(--gris);
}
.entrada {
  display: flex;
  width: 20rem;
  gap: 2rem;
}
.resultado {
  text-transform: uppercase;
  text-decoration: solid;
  background-color: darkcyan;
  width: 40rem;
  color: white;
  font-size: 3rem;
}
a {
  font-size: 3rem;
  text-decoration: none;
  color: red;
}
