html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
body {
  align-items: center;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto; /* centra el contenido*/
}

.entrada {
  display: flex;
  width: 20rem;
  gap: 2rem;
}
.resultado {
  text-transform: uppercase;
  text-decoration: solid;
  background-color: darkcyan;
  width: 40rem;
  color: white;
  font-size: 3rem;
}
a {
  font-size: 3rem;
  text-decoration: none;
  color: red;
}
